@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:wght@500&display=swap');

/* header-section start from here */
body{

  
  
}
.header-text{
  color: #FF42A5;
}
.header-logo{
  display: flex;
  width: 50%;
  align-items: center;
  
}
.header-logo-text{
  padding-left: 10px;
}
.logo{
  object-fit: cover;
}
nav{
  background-color: #fff;
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-left: 140px;
}
.nav-items{
  width: 50%;

}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 140px;
}
a{
  text-decoration: none;
  padding-right: 20px;
  text-decoration: none;
  color: #3C354F;
}
.follow{
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px ;
}
.banner-p{
color: #534C64;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.banner-text-1{
color: #0B0223;
font-size: 30px;
font-weight: 600;
}
.banner-text-2{
font-size: 65px;
font-style: normal;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
padding: 20px 40px;
gap: 10px;
border-radius: 45px;
color: white;
background-color: #F144AE;
border: none;
margin-right: 20px;
}
.btn-2{
padding: 20px 35px;
gap: 10px;
border-radius: 45px;
color: white;
background-color: #4EC5F7;
border: none;
}

.banner-text{
  width: 50%;
  margin-left: 140px;
  background-image: url(./images/Group\ 14.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background:  linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  
}
.img{
  width: 100%;
}
.banner-img{
width: 50%;
margin-right: 140px;
}
.banner-container{
  display: flex;
  justify-content: space-around

}

/* header-section end here*/

/* card-section start from here */
.card-text{
  text-align: center;
}
.card-heading{
  color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.card-paragraphh{
  color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;

}
.card-1{
  width: 300px;
  height: 400px;
  border: 1px solid red;
  background-image: url(./images/Rectangle\ 4.png);
  
}
.card-2{
  width: 300px;
  height: 400px;
  border: 1px solid red;
  background-image: url(./images/Rectangle\ 5.png);
 
}
.card-3{
  width: 300px;
  height: 400px;
  border: 1px solid red;
  background-image: url(./images/Rectangle\ 7.png);
}
.card-4{
  width: 300px;
  height: 400px;
  border: 1px solid red;
  background-image: url(./images/Rectangle\ 6.png);
}
.games-card{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.text-color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-section{
  height: 70vh;
}
.play-text{
  width: 50%;
  text-align: center;
}
.play-heading{
font-size: 48px;
font-weight: 700;
}
.play-description{
  color: #534C64;
font-size: 18px;
font-weight: 400;
}
.div-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  
}
.play-img-1{
  width: 500px;
  padding-left: 120px;

}
.play-img-2{
  width: 300px;
height: 350px;
margin-top: -160px;
}







/* card-section end here */

@media screen and (max-width:576px) {
  .header-logo{
    
  }
  .nav-items, nav{
   flex-direction: column;
   text-align: center;
   margin: 0 auto;
   gap: 35px
   ;
  }
  .banner-container{
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .banner-img{
    width: 100%;
    background-color: white;
    margin: 10px 0;
    flex-direction: column;
   
   
    
  }
  .banner-text{
    width: 100%;
    margin: 0px;
    flex-direction: column;
    text-align: center;
   
   
  }
  body {
    width: 100%;
    margin: 0px;
  }
  .card-text{
flex-direction: column;
  }
  .games-card{
    flex-direction: column;
    padding-left: 100px;
    width: 100%;
  }
  .ff{
    width: 100%;
    text-align: center;

  }
  .div-container{
    flex-direction: column;
  }
  .play-img{
width: 100%;
margin: 0 auto;


  }
  .play-img-1{
    width: 300px;
    height: auto;
  }
  .play-img-2{
    margin-left: 20px;
    width: 160px;
    height: auto;
  }
  
}