@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:wght@500&display=swap');

/* header-section start from here */
main{

  max-width: 1440px;
  margin: 0 auto;

  
}
header{
  padding: 50px 240px;

}
.header-text{
  color: #FF42A5;
}
.header-logo{
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
  
}
.header-logo-text{
  padding-left: 10px;
}
.logo{
  object-fit: cover;
}
nav{
  background-color: #fff;
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-items{
  width: 50%;

}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: end;
}
a{
  text-decoration: none;
  padding-right: 20px;
  text-decoration: none;
  color: #3C354F;
}
.follow{
  border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px ;
}
.banner-p{
color: #534C64;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.banner-text-1{
color: #0B0223;
font-size: 30px;
font-weight: 600;
}
.banner-text-2{
font-size: 65px;
font-style: normal;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-1{
padding: 20px 40px;
gap: 10px;
border-radius: 45px;
color: white;
background-color: #F144AE;
border: none;
margin-right: 20px;
}
.btn-2{
padding: 20px 35px;
gap: 10px;
border-radius: 45px;
color: white;
background-color: #4EC5F7;
border: none;
}

.banner-text{
  width: 50%;
  background-image: url(./images/Group\ 14.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background:  linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  
}
.img{
  width: 100%;
}
.banner-img{
width: 50%;

}
.banner-container{
  display: flex;
  justify-content: space-around

}

/* header-section end here*/

/* card-section start from here */
.card-text{
  text-align: center;
}
.card-heading{
  color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.card-paragraphh{
  color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;

}
.card-description{
padding-top: 400px;
color: #534C64;
font-size: 14px;
font-weight: 500;
}
.card-1{
  width: 300px;
  height: 400px;
  background-image: url(./images/Rectangle\ 4.png);
  
}
.card-2{
  width: 300px;
  height: 400px;
  background-image: url(./images/Rectangle\ 5.png);
 
}
.card-3{
  width: 300px;
  height: 400px;
  background-image: url(./images/Rectangle\ 7.png);
  position: relative;


}
.play-btn{
  position: absolute;
  width: 70px;
  bottom: 160px;
  left: 120px;
  color: white;
  
}
.gg{
  color: blue;
  font-size: 20px;
}
.play-btn:hover{
  color: #FFF;
  cursor: pointer;
  background-color: #FF42A5;
}


.card-4{
  width: 300px;
  height: 400px;
  background-image: url(./images/Rectangle\ 6.png);
}
.games-card{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.text-color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-section{
  
  
}
.play-text{
  width: 50%;
  text-align: center;
}
.play-heading{
font-size: 48px;
font-weight: 700;
}
.play-description{
  color: #534C64;
font-size: 18px;
font-weight: 400;
}
.div-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
  
}
.card-text-1{
  background: linear-gradient(180deg, 
#F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-img-1{
  width: 500px;
  padding-left: 120px;

}
.play-img-2{
  width: 300px;
height: 350px;
margin-top: -160px;
}
.game-icon{
  display: flex;
  background-color: #fff;
  width: 240px;
  height: 80px;
  border-radius: 50px;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}
.game-icon:hover{
  border: 1px solid #F144AE;
  border-radius: 50px;
  color: #F144AE;
}
.game-icon-2 , .game-icon-3{
  display: flex;
background-color: #fff;
width: 240px;
height: 80px;
border-radius: 50px;
align-items: center;
padding-left: 10px;
gap: 10px;
}
.play-section{


}
.games{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
  margin-top: 100px;
}
#arcade{
  border: 1px solid #F948B2;
}
.icon-section{
  height: 50vh;
}
.footer-logo{
display: flex;
align-items: center;
justify-content: center;
}
.footer-text{
  color: white;
}
.footer{
  background-color: #0B0223;
  height: 80vh;
}
div ul{
  display: flex;
  justify-content: center;
  
}
.footer-list{
  color: white;
}
.list-items{
  list-style: none;
  padding-left:60px;
  text-decoration: none;
color: rgba(255, 255, 255, 0.60);
}


.footer-icon{
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 30px;
}
.footer-logo{
  padding-top: 30px;
}
.terms{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer-a{
  text-decoration: none;
color: rgba(255, 255, 255, 0.60); 
padding-top: 50px;
}
.copyright{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  padding-top: 30px;
}






/* card-section end here */

@media screen and (max-width:576px) {
  .header-logo{
    margin: 0  auto;
    text-align: center;
  }
  body{
    width: 425px;
    margin: 0 auto;
    border: 1px solid red;
  }

  header{
    padding: 0px;
    width: auto;
  }
  main{
    width: 100%;
  }
  body{
    max-width: auto;
    width: 100%;
  }
  .nav-items, nav{
   flex-direction: column;
   text-align: center;
   margin: 0 auto;
   gap: 10px
   ;
  }
  .banner-container{
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  .banner-img{
    width: 100%;
    background-color: white;
    margin: 10px auto;
    flex-direction: column;
   
   
    
  }
  .banner-text{
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
   
   
  }
  body {
    width: 100%
    
  }
  .card-text{
flex-direction: column;
  }
  .games-card{
    flex-direction: column;
    
    width: 100%;
  }
  .card-1{
    margin: 0px auto;
  }
  .card-2{
    margin: 0 auto;
  }
  .card-3{
    margin: 0 auto;
  }
  .card-4{
    margin: 0 auto;
  }
  .div-container{
    flex-direction: column;
    
  }
  .play-img{
width: 100%;
margin: 0 auto;


  }
  .play-img-1{
    width: 300px;
    height: auto;
  }
  .play-img-2{
    margin-left: 20px;
    width: 160px;
    height: auto;
  }
  .games{
    width: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 150px;
    gap: 10px;
    
    
}
  
  .game-icon{
    width: 150px;
    
  }
  #strategy{
padding-left: 80px;
  }
  .footer-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:576px) and (max-width:992px) {
  .nav-items, nav{
    flex-direction:column;
    text-align: center;
    margin: 0 auto;
    gap: 10px
  }
  .banner-container{
    flex-direction:column;
    padding: 0px;
  }
  .banner-text{
    width:auto;
    text-align: center;
  }
  .games-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    padding-left: 30px;
    
  }
  .div-container{
    flex-direction: column;
  }
  .footer{
    width: auto;
  }
  header{
    padding: 0px;

  }
  .header-logo{
    text-align: center;
    width: auto;

  }
  .img{
    width: auto;
  }
  .nav-items{
    font-size: 30px;
  }
  .games{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   }
  }
  
